<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title> Registration Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}"  type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='/vendor/bootstrap/js/popper.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"  type="text/css">
    </head>
    <body>
    <div class="text-center" style="color: #63738a;
    background: #fff">
        <h1 alifn="center">Welcome to Students Data Enroll Website!</h1>
    </div>
    <div class="signup-form">
        <form action="/userpage" method="post">
            <h2>Register</h2>
            <p class="hint-text">Create your account. It's free and only takes a minute.</p>
            <div class="form-group">
                <div class="row">
                    <div class="col"><input type="text" class="form-control" id= "first_name"name="first_name" placeholder="First Name" required="required"></div>
                    <div class="col"><input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required="required"></div>
                </div>        	
            </div>
            <div class="form-group">
                <input type="email" class="form-control"  id ="email"name="email" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
            </div>        
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="/login">Sign in</a></div>
    </div>
    </body>
    </html>